<!doctype html>
<html lang="" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-touch="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
    <title>mail msg</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div id="mail-App">
        <header class="head fixed">
          <div class="inform left">
            <span v-if="show" class="head-icon icon-envelope-alt">
              <div v-show="unreadNum > 0" class="circle top-mark">{{unreadNum}}</div>
            </span>
            <a v-else href="javascript:;" v-on:click="onBack">
              <span class="head-icon icon-chevron-left"></span>
            </a>
          </div>
          <h1 class="head-icon">Han-Mail</h1>
          <div class="inform right spacing">
            <button class="btn" type="button" v-on:click="dropdownShow"><span class="head-icon icon-reorder"></span></button>
          </div>
          <ul v-show="dropdown" class="dropdown">
            <div class="top"></div>
            <li><a href="javascript:;" v-on:click="sendMailShow">发送邮件</a></li>
            <li><a href="javascript:;" v-on:click="allRead">{{Read}}</a></li>
            <li><a href="javascript:;" v-on:click="addFriend">添加好友</a></li>
          </ul>
        </header>
      <div class="container">
        <section>
          <div class="container-item" v-for="item in AllItem" v-on:click="onSwipeLeft($event,item,$index)" track-by="$index">
            <div class="userface left">
              <img v-bind:src="item.imgurl" alt="">
            </div>
            <div class="main-item">
              <div class="mask {{item.color}}"></div>
              <div class="user"><h2>{{item.username}}</h2>
                <span v-if="item.readStatus" class="dot circle"></span>
                <span v-else class="dot read-color circle"></span>
              </div>
              <div class="caption"><h3>{{item.title}}</h3></div>
               <div class="content"><p>{{item.content[item.content.length-1].mailcontent}}</p></div>
            </div>
          </div>
        </section>
        <div class="mail-item" id="mail-main-item" v-bind:Class="{'hidden':mailItemShow}">
          <div class="mail-head">
            <div class="mail-top {{email.color}}">
            </div>
            <div class="user-pic left">
              <img class="circle" v-bind:src="email.imgurl" alt="">
            </div>
            <div class="mail-center left">
              <h2>{{email.username}}</h2>
              <h3>{{email.title}}</h3>
            </div>
            <div class="mail-right right">
              <a href="javascript:;" v-on:click="getUp"><span class="icon-angle-up"></span></a>
              <a href="javascript:;" v-on:click="getDown"><span class="icon-angle-down"></span></a>
            </div>
          </div>
          <h3 class="theme">
            #{{email.title}}#
          </h3>
          <div class="mail-content">
            <div v-for="content in email.content" track-by="$index">
            <p v-if="content.reply == 'sb'" class="self">{{content.mailcontent}}<span class="time">{{content.time}}</span></p>
            <p v-if="content.reply == 'null'" class="other">{{content.mailcontent}}<span class="time">{{content.time}}</span></p>
            </div>

            </div>
          <div class="mail-reply">
            <h3>立即回复</h3>
            <textarea class="mail-text" maxlength="200" name="reply" v-model="message"></textarea>
            <button class="reply-btn cancel" type="button" v-on:click="cancelSend">取消</button>
            <button class="reply-btn send" type="button" v-on:click="sendMail($event,email)">发送</button>
          </div>

        </div>
        <div class="mail-item" id="mail-send" v-bind:class="{'hidden':mailItemHide}">
            <div class="mail-item-head">
              <div class="username">蒋菡</div>
              <div class="user-img">
                <img src="images/userface/59a0a94d3612ddb469bb43fbd0d884e2.jpg" alt="">
              </div>
                <ul class="my-feed">
                  <li>
                    <a class="mail-icon feed" href="javascript:;" v-on:click="renderFriend">
                      <span class="feed-num">{{friendNum}}</span>
                      <p>闺中密友</p>
                    </a>
                  </li>
                  <li>
                    <a class="mail-icon addfeed" href="javascript:;" v-on:click="addFriend">
                      <span class="feed-num">8</span>
                      <p>可能认识</p>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="feed-item" v-bind:class="{'hidden':feedItemShow}">
              <ul class="feed-list">
                <li v-on:click="feedNormalClick($event,item)" v-for="item in userInfo">
                  <div class="feed-normal">
                    <div class="feed-img left">
                      <img class="circle" v-bind:src="item.imgurl" alt="">
                    </div>
                    <div class="feed-info">
                      <div class="feed-name">{{item.username}}</div>
                      <div class="feed-title">{{item.introduction}}</div>
                    </div>
                  </div>
                  <div class="feed-pull" v-bind:class="{'pull-width':item.isPull}">
                    <div class="feed-content">
                      <h2>#{{oncemail.title}}#</h2>
                      <p>{{SendMailPep}} : {{oncemail.content[oncemail.content.length-1].mailcontent}}</p>
                    </div>
                    <button class="feed-btn" type="button" v-on:click.stop="feedEdit(item)">
                      <span class="feed-btn-icon icon-edit"></span>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
            <div class="feed-item" id="feed-addFriend" v-bind:class="{'hidden':!feedItemShow}" >
               <div class="feed-add-head">
                 <div class="search">
                   <span></span>
                   <input type="text" placeholder="请输入要搜索的用户名" v-model="searchText" v-on:keyup="SearchInput">
                 </div>
                 <img class="search-img" src="images/appicon/conference_call.svg" alt="">
                 <h1>添加好友</h1>
               </div>
              <div class="friendlist" id="friend-list">
                <ul v-if="friendlistshow">
                  <li v-for="item in AllFirends">
                    <div class="feed-normal feed-add-color" v-on:click="feedBtnShow(item)">
                      <div class="feed-img left">
                        <img v-bind:src="item.url" alt="">
                      </div>
                      <div class="feed-info">
                        <div class="feed-name"><h2>{{item.username}}</h2></div>
                        <div class="feed-title"><p>{{item.relation}}:{{item.realname}}</p></div>
                      </div>
                      <button class="feed-btn-add" v-bind:class="{'feed-btn-pull':item.feedBtnPull}" type="button">
                        <span class="feed-btn-icon font-1" v-on:click="feedBtnClick(item)">添加</span>
                      </button>
                    </div>
                  </li>
                </ul>
                <ul v-else>
                  <li v-for="item in searchFriends">
                    <div class="feed-normal feed-add-color" v-on:click="feedBtnShow(item)">
                      <div class="feed-img left">
                        <img v-bind:src="item.url" alt="">
                      </div>
                      <div class="feed-info">
                        <div class="feed-name"><h2>{{{item.username}}}</h2></div>
                        <div class="feed-title"><p>{{item.relation}}:{{item.realname}}</p></div>
                      </div>
                      <button class="feed-btn-add" v-bind:class="{'feed-btn-pull':item.feedBtnPull}" type="button">
                        <span class="feed-btn-icon font-1" v-on:click="feedBtnClick(item)">添加</span>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <button>换一批</button>

            </div>

        </div>
      </div>

    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/vue.js"></script>
    <!--<script src="scripts/vue-touch/Hammer.js"></script>
    <script src="scripts/vue-touch/vue-touch.min.js"></script>-->
    <script src="scripts/main.js"></script>

    <!-- endbuild -->
  </body>
</html>
