.container{
  margin-top:120px;
}
.head{
  width: 100%;
  height: 120px;
  background: #333658;
  text-align: center;
  line-height: 120px;
}
.head h1{
  display: inline-block;
}
.dropdown{
  width: 200px;
  position: relative;
  left: -82px;
  background:#333658;
  top: 16px;
  padding-bottom:20px;
}
.dropdown li:last-child a{
  border-bottom:none;
}
.dropdown a{
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 32px;
  color: #fff;
  width: 160px;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}
.dropdown .top{
  border-bottom: 20px solid #333658;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  width: 0;
  height: 0;
  position: relative;
  top: -18px;
  left: 125px;
}
.inform{
  width: 120px;
  height: 120px;
  position: relative;
}
.spacing{
  margin-top: 5px;
}
.circle{
  border-radius: 50%;
}
.top-mark{
  position: absolute;
  width: 35px;
  height: 35px;
  background: #F65151;
  top: 25px;
  left: 60px;
  float: left;
  line-height: 37px;
  font-weight: bold;
  font-size: 22px;
}
.head-icon{
  font-size:36px;
  color:#fff;
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-envelope-alt:before {
  content: "\f003";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-chevron-left:before {
  content: "\f053";
}
.right{
  float:right;
}
.left{
  float:left;
}
.fixed{
  z-index: 100;
  position: fixed;
  top: 0;
}
.container-item{
  height:150px;
}
.main-item{
  height: 150px;
  padding: 8px 20px 8px 40px;
  margin-left: 150px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  position: relative;
}
.mask{
  width: 15px;
  height: 150px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
.main-item h2{
  font-size: 34px;
  padding-right: 30px;
  color:#515151;
}
.mail-item{
  position: fixed;
  top: 120px;
  width: 100%;
  height: 100%;
  background: #f9f6f6;
  z-index: 100;
}
.hidden{
  display: none;
}
.user{
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}
.caption h3{
  font-size:32px;
  margin-bottom:15px;
  color:#727272;
}
.content p{
  height:29px;
  width:450px;
  font-size:28px;
  color:#B2B2B2;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.userface{
  height: 150px;
  width: 150px;
}
.userface img,.user-pic img{
  width:100%;
  height:100%;
}
.dot{
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 10px;
  right:0;
  background-color: greenyellow;
}
.mail-head{
  height:150px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px #727272;
}
.mail-top{
  height:15px;
}
.user-pic{
  height:100px;
  width:100px;
  margin: 10px 20px;
}
.mail-center{
  width: 400px;
  height: 135px;
  box-sizing: border-box;
  padding: 20px;
}
.mail-center h2{
  font-size:32px;
  margin-bottom: 25px;
  color:#727272;
}
.mail-center h3{
  font-size:30px;
  color:#b6b6b6;
}
.mail-right{
  height: 135px;
  width: 100px;
}
.mail-right a{
  display: block;
  height: 67px;
  font-size: 44px;
  line-height: 67px;
  text-align: center;
  text-decoration: none;
  color: #6f6f6f;
}
.mail-right a:hover{
  color:#000;
}
.mail-content h3,.mail-reply h3{
  font-size:30px;
  margin-bottom:20px;
}
.theme{
  margin:0 0 30px 30px;
  font-size:30px;

}
.mail-content{
  margin: 0 30px;
  height: 300px;
  overflow-y: scroll;
}
.mail-content p{
  font-size:28px;
  line-height:35px;
  color: #2f2f2f;
  padding:5px 20px;
  margin-bottom: 15px;
}
.mail-content .other{
  background-color: #d9e6f1;
}
.mail-content .other span{
  text-align: right;
}

.mail-content .self{
  background-color:#fff;
  text-align: right;
}
.mail-content .self span{
  text-align: left;
}
.mail-content .time{
  display: block;
  font-size: 14px !important;
  color: #9E9E9E;
}
.mail-reply{
  margin: 50px 30px;
}
.reply-btn{
  width: 170px;
  height: 60px;
  font-size: 26px;
  color:#fff;
  margin:0 59px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.mail-text{
  width:100%;
  height:200px;
  font-size:20px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.read-color{
  background-color:#ccc !important;
}
.green{
  background:#56b699;
}
.blue{
  background:#5674B6;
}
.cancel{
  background-color:#F65151;
}
.cancel:hover{
background-color:rgba(246, 81, 81, 0.8);
}
.send{
  background-color:#36E8AC;
}

.send:hover{
  background-color: rgba(54, 232, 172, 0.8);
}
.red{
  background:#D05E5E;
}
.orange{
  background: #EA9739;
}
.pink{
  background: #B6568D;
}
.yellow{
  background:#FCF05F;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.2.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline;
}
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
/* increased font size for icon-large */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.1428571428571428em;
  text-align: right;
  padding-right: 0.2857142857142857em;
}
[class^="icon-"].icon-fixed-width.icon-large,
[class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.4285714285714286em;
}